<Configurations>
	<Configuration module="GigabitEther1" Date="2112/9/3">
		<IPaddress version="IPv4">
			192.168.30.100
		</IPaddress>
		<port>10030</port>
		<DestinationLogicalAddress>
			0xfe
		</DestinationLogicalAddress>
	</Configuration>
	<Configuration module="GigabitEther2" Date="2112/9/4">
		<IPaddress version="IPv6">
			1234:5678:90ab:cdef:0123:4567:89ab:cdef
		</IPaddress>
		<port>10030</port>
		<DestinationLogicalAddress>
			85h
		</DestinationLogicalAddress>
	</Configuration>

</Configurations>

<Revisions> 
        <Revision date="2011/06/12">
        Only the ASCII is supported.
        Same tags at the same depth/rank/hierarchy are forbidden; younger one is overwritten.
        </Revision>
        <Revision date="2011/06/13">
        second rev.
        </Revision>
        <Revision date="2011/06/14">
        third rev.
        </Revision>
</Revisions>




GitHub Links
GitHub
About
Blog
